body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar-container {
  padding: 1rem;
  justify-content: space-between;
}
.cart {
  position: relative;
  width: fit-content;
}
.cart-number {
  font-size: 0.8rem;
  color: #191818;
  text-align: center;
}
.cart-icon {
  height: 15px;
  padding: 5px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  background-color: #296cd7;
  top: -8px;
  right: -7px;
}
.hero-section {
  height: 75vh;
  display: flex;
  background-color: #8e8c8c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://plus.unsplash.com/premium_vector-1683134426818-4ea6b069860e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.hero-title {
  font-size: 4.5rem;
  font-weight: 800;
  color: #191818;
  font-family: "Montserrat", sans-serif;
}
.hero-subtitle {
  font-size: 1.9rem;
  font-weight: 400;
  color: #404040;
}
.hero-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.features-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #191818;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.features-icon {
  background-color: #296cd7;
  padding: 0.7rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.features-text {
  color: #404040;
  width: 70%;
  text-align: center;
}
.card {
  overflow: hidden;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}
.card:hover {
  transform: translateY(-10px);
}
.card-title {
  font-size: 1.5rem;
  color: #191818;
  font-weight: 600;
}
.card-container {
  background-color: #8e8c8c;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.card-image {
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in;
}
.card-image:hover {
  transform: scale(1.08);
}
.why-choose-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* grid-template-rows: auto; */
}
.why-choose-us-image {
  background-color: #8e8c8c;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.why-choose-us-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
}
.why-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
}
.why {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
}
.why-title {
  font-size: 1.6rem;
  color: #404040;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.why-text {
  font-size: 1.4rem;
  color: #191818;
}
.wrapper-do {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.news-letter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.newsletter-image {
  background-color: #8e8c8c;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.newsletter-title {
  font-size: 2rem;
  font-weight: 600;
  color: #191818;
}
.newsletter-text {
  font-size: 1.2rem;
  color: #404040;
}
.newsletter-form {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  gap: 1rem;
  width: 100%;
}
footer {
  background-color: #191818;
  color: #8e8c8c;
}
.footer-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  width: 100%;
}
.footer-header {
  grid-column: span 2;
  margin-bottom: 1rem;
}
.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.6rem;
}
.footer-links {
  text-decoration: none;
  color: #8e8c8c;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  padding: 2.5rem 0;
  margin: 2rem 0;
}
.footer-bottom-text {
  color: #8e8c8c;
  font-size: 1.2rem;
}
.footer-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.social-icon {
  color: #8e8c8c;
  text-decoration: none;
  font-size: 1.5rem;
}
.product-title {
  font-size: 1.1rem;
  font-weight: 500;
}
.product-price {
  font-size: 1.2rem;
  font-weight: 600;
}
.discount-price{
    font-weight: 600;
    font-size: 1.2rem;
    color: #7f8081;
    text-decoration: line-through;
}
.product-image {
  width: 100%;
  height: 380px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.search-container{
    position:relative;
    width: 50%;
}
.product-search{
    height:100%;
    width: 100%;
    text-align: right;
    border: none;
    background-color: #C5C7BC;
}
.product-search:focus{
    outline: none;
}
.search-btn{
    position:absolute;
    border:none;
    top:0;
    left:0;
    background-color: #C5C7BC;
    height:100%;
    text-align: center
}
.add-to-cart {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

  .category{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .remove-from-cart {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}
  .fa-trash-can:hover{
    color: red;
  }
  .fa-pen-to-square:hover{
    color: blue;
  }
@media (max-width: 770px) {
  .hero-section {
    height: 50vh;
    background-size: fit;
    justify-content: center;
    align-items: center;
  }
  .hero-content {
    gap: 0.2rem;
  }
  .hero-title {
    font-size: 2.9rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
  }
  .features-title {
    font-size: 2rem;
  }
  .why-title {
    font-size: 1.4rem;
  }
  .why-text {
    font-size: 1.2rem;
  }
  .wrapper-do {
    flex-direction: column;
  }
  .why-choose-us {
    grid-template-columns: 1fr;
  }
  .news-letter {
    grid-template-columns: auto;
  }
  .footer-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }
  .footer-bottom-text {
    font-size: 1rem;
  }
  .footer-bottom-bar {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
  .product-title {
    font-size: 0.8rem;
    /* font-weight: 500; */
  }
  .product-price {
    font-size: 0.7rem;
    /* font-weight: 600; */
  }
  .product-image{
    height: 300px;
  }

  @media (max-width: 468px) {
    .hero-title {
      font-size: 2.2rem;
    }
    .hero-subtitle {
      font-size: 1rem;
    }
    .features-title {
      font-size: 1.5rem;
    }
    .hero-buttons {
      flex-direction: column;
      gap: 0.5rem;
    }
    .card-title {
      font-size: 1.2rem;
    }
    .why-title {
      font-size: 1.3rem;
    }
    .why-text {
      font-size: 1rem;
    }
    .footer-bottom-bar {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1rem;
    }
  }
}
