{% include 'header.html' %}
<section class="hero-section"
         style="background-image: url('https://plus.unsplash.com/premium_photo-1683984171269-04c84ee23234?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">

    <h1 class="hero-title">
        About Us</h1>
</section>
<section class="container-fluidf py-5 px-5 mx-5 my-5">
    <div class="d-flex flex-column justify-content-center align-items-start gap-4 ">
        <h2 class="fw-bold">Welcome to Mallify</h2>
        <div class="d-flex justify-content-between align-items-start w-100 gap-5">
            <p class="w-50 text-right">
                Jones & Brown Legal has been a pillar of the Los Angeles legal community, providing expert legal counsel
                across a wide spectrum of practice areas. We are more than just attorneys, we are trusted advisors,
                dedicated advocates, and strategic partners committed to achieving the best possible outcomes for our
                clients.
            </p>
            <p class="w-50 text-right">
                We combine decades of experience with a deep understanding of the complexities of California law. Our
                team of seasoned trial attorneys boasts a proven track record of success in courtrooms throughout Los
                Angeles and beyond. We pride ourselves on our comprehensive expertise, covering nearly every field of
                law, ensuring that whatever your legal challenge, we have the knowledge and experience to guide you.
            </p>
        </div>
        <a href="#" class="btn btn-lg btn-dark text-decoration-none text-light rounded-pill"><span
                class="fw-normal fs-5">Subscribe</span></a>
    </div>
</section>
<section class="container-fluid my-5 w-100 pb-4 px-0" style="background-color:#40513B;color:#fff;">
    <img src="https://images.unsplash.com/photo-1634973357973-f2ed2657db3c?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
         width="100%" height="250px" style="object-fit:cover;">
    <div class="my-5 mx-5 d-flex flex-column justify-content-start align-items-start gap-5">
        <h4 class="fw-light">What we offer</h4>
        <div class="text-left">
            <p class="fs-1 fw-normal mb-0">Business Formation</p>
            <p class="fs-1 fw-normal mb-0">Product Formation</p>
            <p class="fs-1 fw-normal mb-0">Sales Analysis</p>
            <p class="fs-1 fw-normal mb-0">Online Advertisement</p>
            <p class="fs-1 fw-normal mb-0" style="color:#BFC6C4;">More+</p>
        </div>
        <a href="#" class="btn btn-lg btn-dark text-decoration-none text-light rounded-pill"><span
                class="fw-normal fs-5">Subscribe</span></a>

    </div>
</section>
<section class="container-fluid py-5 px-5 my-5 h-75">
    <div class="text-center d-flex flex-column justify-content-between align-items-center gap-4">
        <h3>Hear from our clients</h3>
        <p>We believe that our clients' experiences speak volumes about the quality of our legal services. Here's what
            some of them have to say:</p>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="w-50 d-flex flex-column justify-content-center align-items-center mx-auto py-4">
                        <p class="fs-3 fw-medium">"Jones & Brown Legal handled my estate planning with such care and
                            professionalism. They
                            listened to my concerns and made the process clear and straightforward. I now have complete
                            peace of mind knowing my family's future is secure." </p>
                        <h2>— David L., Business Owner</h2>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="w-50 d-flex flex-column justify-content-center align-items-center mx-auto py-4">
                        <p class="fs-3 fw-medium">"Jones & Brown Legal handled my estate planning with such care and
                            professionalism. They
                            listened to my concerns and made the process clear and straightforward. I now have complete
                            peace of mind knowing my family's future is secure." </p>
                        <h2>— David L., Business Owner</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="w-50 d-flex flex-column justify-content-center align-items-center mx-auto py-4">
                        <p class="fs-3 fw-medium">"Jones & Brown Legal handled my estate planning with such care and
                            professionalism. They
                            listened to my concerns and made the process clear and straightforward. I now have complete
                            peace of mind knowing my family's future is secure." </p>
                        <h2>— David L., Business Owner</h2>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev text-end" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next text-end" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p class="w-75"> Let us help you navigate your legal journey with confidence and peace of mind. Contact Jones & Brown Legal
            today.</p>
        <a href="#" class="btn btn-lg btn-dark text-decoration-none text-light rounded-pill"><span
                class="fw-normal fs-5">Subscribe</span></a>
    </div>
</section>
{% include 'footer.html'%}