{% include 'header.html'%}
    <main>
      <section class="hero-section">
        <div class="hero-content">
          <h1 class="hero-title">Welcome to Mallify</h1>
          <p class="hero-subtitle">
            Discover the best shopping experience in town.
          </p>
          <div class="hero-buttons">
            <a
              href="#"
              class="btn btn-outline-primary text-decoration-none btn-lg"
              ><i class="fa-solid fa-bag-shopping"></i> Shop Now</a
            >
            <a href="#" class="btn btn-outline-dark text-decoration-none btn-lg"
              ><i class="fa-solid fa-circle-info"></i> Learn More</a
            >
          </div>
        </div>
      </section>
      <section class="py-5">
        <div class="container">
          <h2 class="features-title">Product Features</h2>
          <div class="wrapper-do py-5">
            <div class="col-md-4 py-2 col-12">
              <div
                class="d-flex flex-column align-items-center justify-content-center gap-2"
              >
                <div class="features-icon">
                  <i class="fa-solid fa-truck-fast fa-xl"></i>
                </div>

                <h3 class="fs-5 fw-medium mb-0">Fast Delivery</h3>
                <p class="features-text">
                  Get your orders delivered quickly and on time.
                </p>
              </div>
            </div>
            <div class="col-md-4 py-2 col-12">
              <div
                class="d-flex flex-column align-items-center justify-content-center gap-2"
              >
                <div class="features-icon">
                  <i class="fa-solid fa-shield-alt fa-xl"></i>
                </div>
                <h3 class="fs-5 fw-medium mb-0">Secure Payment</h3>
                <p class="features-text">
                  Shop with confidence using our secure payment methods.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-12 py-2">
              <div
                class="d-flex flex-column justify-content-center align-items-center gap-2"
              >
                <div class="features-icon">
                  <i class="fa-solid fa-headset fa-xl"></i>
                </div>
                <h3 class="fs-5 fw-medium mb-0">24/7 Support</h3>
                <p class="features-text">
                  Our support team is available around the clock to assist you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-categories py-5 bg-body-tertiary">
        <div class="container">
          <h2 class="features-title">Product Categories</h2>
          <div class="row justify-content-center py-5">
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card shadow" style="width: 100%">
                <div class="card-container">
                  <img
                    src="https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top card-image"
                    alt="..."
                    height="300px"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Clothing</h5>
                  <p class="card-text">
                    Get the latest fashion trends and styles for all seasons.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card shadow" style="width: 100%">
                <div class="card-container">
                  <img
                    src="https://images.unsplash.com/photo-1624823183493-ed5832f48f18?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8QWNjZXNzb3JpZXN8ZW58MHx8MHx8fDA%3D"
                    class="card-img-top card-image"
                    alt="..."
                    height="100%"
                  />
                </div>

                <div class="card-body">
                  <h5 class="card-title">Accessories</h5>
                  <p class="card-text">
                    Find the perfect accessories to complement your look.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card shadow" style="width: 100%">
                <div class="card-container">
                  <img
                    src="https://images.unsplash.com/photo-1604866830893-c13cafa515d5?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top card-image"
                    alt="..."
                    height="300px"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Books</h5>
                  <p class="card-text">
                    Explore a wide range of books across various genres and
                    authors.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container py-5 bg-body-light">
        <h2 class="features-title py-5">Why Choose Mallify?</h2>
        <div class="why-choose-us">
          <img
            class="why-choose-us-image"
            src="https://plus.unsplash.com/premium_vector-1718307313013-03d8a252dfdd?q=80&w=577&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
          <div class="why-container">
            <h3 class="why-title">
              Why Choose Mallify? We have a list of very important reasons why
              you should choose us. The following below are just a few important
              reasons on why you should choose us:
            </h3>
            <ul class="why-choose-us-list">
              <li class="why">
                <div class="features-icon">
                  <i class="fa-solid fa-gauge-high"></i>
                </div>
                <span class="why-text"
                  >Wide selection of products to choose from.</span
                >
              </li>
              <li class="why">
                <div class="features-icon">
                  <i class="fa-solid fa-tag"></i>
                </div>
                <span class="why-text"
                  >Competitive prices and great deals.</span
                >
              </li>
              <li class="why">
                <div class="features-icon">
                  <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <span class="why-text"
                  >User-friendly website for easy navigation.</span
                >
              </li>
              <li class="why">
                <div class="features-icon">
                  <i class="fa-solid fa-star"></i>
                </div>
                <span class="why-text"
                  >Reliable customer reviews and ratings.</span
                >
              </li>
              <li class="why">
                <div class="features-icon">
                  <i class="fa-solid fa-rotate-left"></i>
                </div>
                <span class="why-text">Hassle-free returns and exchanges.</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="py-5 bg-body-tertiary">
        <h2 class="features-title py-5">Subscribe to our Newsletter</h2>
        <div class="container news-letter">
          <img
            class="newsletter-image"
            src="https://plus.unsplash.com/premium_vector-1683134708563-2718627c2d57?q=80&w=929&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
          <div class="newsletter-content">
            <h3 class="newsletter-title">
              Join our Newsletter for Exclusive Updates!
            </h3>
            <p class="newsletter-text">
              Stay updated with the latest news and exclusive offers from
              Mallify. Subscribe to our newsletter today!
            </p>
            <form class="newsletter-form" role="search">
              <div class="form-floating w-75">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </div>
              <button
                class="btn btn-lg btn-primary newsletter-button"
                type="submit"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </section>
    </main>
{% include 'footer.html'%}