{% include "header.html"%}
    <section class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <img
            src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-md-6 col-12">
          <div class="border-bottom border-3 mb-4">
            <h1 class="mb-2 fw-bold">White Classic T-Shirt</h1>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="fw-medium fs-4">₦18,500</p>
            <p class="fw-medium fs-4">XL</p>
          </div>
          <div class="">
            <p class="f-5 fw-medium">QTY</p>
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div
                class="btn-group btn-group-lg"
                role="group"
                aria-label="Default button group"
              >
                <button
                  type="button"
                  class="btn btn-outline-secondary bg-body-secondary"
                >
                  -
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  3
                </button>
                <button
                  type="button"
                  class="btn btn-outline-secondary bg-body-secondary"
                >
                  +
                </button>
              </div>
              <a
                href="#"
                class="btn btn-lg btn-primary w-50 text-decoration-none text-light"
                >Add</a
              >
            </div>
          </div>
          <div class="py-4">
            <h5 class="fw-bold">White Classic T-Shirt</h5>
            <p class="fs-5 fw-medium">
              This is a nice comfy white T-shirt designed to keep you warm and
              fashionable while being sold at an affordable price.Get yours now.
            </p>
          </div>
          <div class="mb-0 pb-0">
            <a
              href="#"
              class="text-decoration-none text-light btn btn-lg btn-dark w-100"
              >Checkout</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="container py-5">
      <div class="row justify-content-center">
        <div class="border-bottom border-3 mb-5">
          <h2 class="mb-4 fw-bold text-center fs-1">Related Products</h2>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="product.html" class="text-decoration-none text-dark">
            <div
              class="d-flex flex-column justify-content-center align-items-start overflow-hidden position-relative"
            >
              <div class="product-image">
                <img
                  src="https://images.unsplash.com/photo-1578681994506-b8f463449011?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="card-image"
                  alt="Product 1"
                  height="100%"
                  width="100%"
                />
                <i class="fa-solid fa-plus add-to-cart"></i>
              </div>
              <h5 class="product-title mt-2">Wireless Headphones</h5>
              <p class="product-price">$99.99</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="product.html" class="text-decoration-none text-dark">
            <div
              class="d-flex flex-column justify-content-center align-items-start overflow-hidden position-relative"
            >
              <div class="product-image">
                <img
                  src="https://images.unsplash.com/photo-1578681994506-b8f463449011?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="card-image"
                  alt="Product 1"
                  height="100%"
                  width="100%"
                />
                <i class="fa-solid fa-plus add-to-cart"></i>
              </div>
              <h5 class="product-title mt-2">Wireless Headphones</h5>
              <p class="product-price">$99.99</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="product.html" class="text-decoration-none text-dark">
            <div
              class="d-flex flex-column justify-content-center align-items-start overflow-hidden position-relative"
            >
              <div class="product-image">
                <img
                  src="https://images.unsplash.com/photo-1578681994506-b8f463449011?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="card-image"
                  alt="Product 1"
                  height="100%"
                  width="100%"
                />
                <i class="fa-solid fa-plus add-to-cart"></i>
              </div>
              <h5 class="product-title mt-2">Wireless Headphones</h5>
              <p class="product-price">$99.99</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="product.html" class="text-decoration-none text-dark">
            <div
              class="d-flex flex-column justify-content-center align-items-start overflow-hidden position-relative"
            >
              <div class="product-image">
                <img
                  src="https://images.unsplash.com/photo-1578681994506-b8f463449011?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="card-image"
                  alt="Product 1"
                  height="100%"
                  width="100%"
                />
                <i class="fa-solid fa-plus add-to-cart"></i>
              </div>
              <h5 class="product-title mt-2">Wireless Headphones</h5>
              <p class="product-price">$99.99</p>
            </div>
          </a>
        </div>
      </div>
    </section>
{% include "footer.html" %}