{% include "header.html"%}
<section class="container py-5">
    <div class="row justify-content-start">
        <div class="col-md-7 col-12 d-flex justify-content-center align-items-center">
            <div class="view-product">
                <img
                        src="{{specific_product.img_url}}"
                        alt="{{specific_product.name}}"
                        class="card-image"
                        width="100%"
                        height="100%"
                />
            </div>

        </div>
        <div class="col-md-5 col-12 justify-content-start align-items-center py-5">
            <div class="border border-2 py-4 px-4">
                <div class="d-flex flex-column justify-content-between align-items-start">
                    <h5 class="mb-0 fw-bold " style="text-transform:uppercase;">
                        {{specific_product.name}}</h5>
                    <p class="fw-bold">{{specific_product.price}}</p>
                    <p class="text-secondary">MRP incl. of all tax</p>
                    <p class="fw-medium">
                        {{specific_product.description}}
                    </p>
                    <div class="d-flex flex-column justify-content-start align-items-start gap-1">
                        <p class="fw-bold text-secondary mb-0">CATEGORY</p>
                        <p class="fw-medium mb-0">{{specific_product.category}}</p>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-items-start gap-1">
                        <p class="fw-bold text-secondary mb-0">AVAILABILITY</p>
                        <p class="fw-medium mb-0">{{specific_product.no_in_stock}}</p>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-items-start gap-1 mb-4">
                        <p class="fw-bold text-secondary mb-0">RATING</p>
                        <p class="fw-medium mb-0">{{specific_product.rating}}</p>
                    </div>
                    <div class="mb-0 pb-0 w-100">
                        <a
                                href="{{url_for('checkout',product_id=specific_product.id)}}"
                                class="text-decoration-none  text-light btn btn-lg btn-secondary rounded-0 w-100"
                        >Checkout</a
                        >
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<section class="container py-5">
    {% if related_products %}
    <div class="border-bottom border-1 mb-3">
        <h5 class="fw-bold text-start text-uppercase">Related Products</h5>
    </div>
    <div class="row justify-content-start border-bottom border-1">
        {% for product in related_products %}
        <div class="col-lg-4 col-md-4 col-6">
            <a href="{{url_for('product',product_id=product.id)}}"
               class="text-decoration-none text-dark">
                <div
                        class="d-flex flex-column justify-content-center align-items-start overflow-hidden position-relative"
                >
                    <div class="product-image">
                        <img
                                src="{{product.img_url}}"
                                class="card-image"
                                alt="Product 1"
                                height="100%"
                                width="100%"
                        />
                        <span class="text-white category">{{product.category}}</span>
                        <a href="{{url_for('add_to_cart',id=product.id)}}"
                           class="text-decoration-none text-dark add-to-cart">
                            <i class="fa-solid fa-plus "></i>
                        </a>

                    </div>
                    {% if 0 < product.no_in_stock < 5 %}
                    <button class="btn btn-warning rounded-pill btn-sm mt-2"><span class="fw-bold ">Limited</span>
                    </button>
                    {% elif product.no_in_stock > 5 %}
                    <button class="btn btn-success rounded-pill btn-sm mt-2"><span class="fw-bold ">In stock</span>
                    </button>
                    {% else %}
                    <button class="btn btn-danger rounded-pill btn-sm mt-2"><span class="fw-bold ">Out of stock</span>
                    </button>
                    {% endif %}
                    <h5 class="product-title mt-2">{{product.name}}</h5>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        {% if product.discount %}
                            {% if product.discount > 0 %}
                            <div>
                                <p class="discount-price mb-0">{{ product.price}}</p>
                                <p class="product-price mb-0">
                                    {{get_discounted_price(product.discount,product.price)}}</p>
                            </div>
                            {% else %}
                            <p class="product-price mb-0">{{ product.price}}</p>
                            {% endif %}
                        {% else %}
                        <p class="product-price mb-0">{{ product.price}}</p>
                        {% endif %}
                        {% if current_user.id == product.author_id%}
                        <div class="d-flex justify-content-between align-item-center gap-4">
                            <a href="{{url_for('delete',id=product.id)}}"
                               class="text-decoration-none text-dark">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                            <a href="{{url_for('edit',product_id=product.id)}}"
                               class="text-decoration-none text-dark">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="border-bottom border-1 mb-3 pt-5">
        <h5 class="fw-bold text-start text-uppercase">Other Products</h5>
    </div>
    <div class="row justify-content-start border-bottom border-1">
        {% for product in other_products %}
        <div class="col-lg-4 col-md-4 col-6">
            <a href="{{url_for('product',product_id=product.id)}}"
               class="text-decoration-none text-dark">
                <div
                        class="d-flex flex-column justify-content-center align-items-start overflow-hidden position-relative"
                >
                    <div class="product-image">
                        <img
                                src="{{product.img_url}}"
                                class="card-image"
                                alt="Product 1"
                                height="100%"
                                width="100%"
                        />
                        <span class="text-white category">{{product.category}}</span>
                        <a href="{{url_for('add_to_cart',id=product.id)}}"
                           class="text-decoration-none text-dark add-to-cart">
                            <i class="fa-solid fa-plus "></i>
                        </a>

                    </div>
                    {% if 0 < product.no_in_stock < 5 %}
                    <button class="btn btn-warning rounded-pill btn-sm mt-2"><span class="fw-bold ">Limited</span>
                    </button>
                    {% elif product.no_in_stock > 5 %}
                    <button class="btn btn-success rounded-pill btn-sm mt-2"><span class="fw-bold ">In stock</span>
                    </button>
                    {% else %}
                    <button class="btn btn-danger rounded-pill btn-sm mt-2"><span class="fw-bold ">Out of stock</span>
                    </button>
                    {% endif %}
                    <h5 class="product-title mt-2">{{product.name}}</h5>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        {% if product.discount %}
                            {% if product.discount > 0 %}
                            <div>
                                <p class="discount-price mb-0">{{ product.price}}</p>
                                <p class="product-price mb-0">
                                    {{get_discounted_price(product.discount,product.price)}}</p>
                            </div>
                            {% else %}
                            <p class="product-price mb-0">{{ product.price}}</p>
                            {% endif %}
                        {% else %}
                            <p class="product-price mb-0">{{ product.price}}</p>
                        {% endif %}
                        {% if current_user.id == product.author_id%}
                        <div class="d-flex justify-content-between align-item-center gap-4">
                            <a href="{{url_for('delete',id=product.id)}}"
                               class="text-decoration-none text-dark">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                            <a href="{{url_for('edit',product_id=product.id)}}"
                               class="text-decoration-none text-dark">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% include "footer.html" %}